@font-face {font-family: 'PT Serif'; 
	src: url('../fonts/ptf55f_w.ttf');}

@font-face {font-family: 'PT Serif'; 
	src: url('../fonts/ptf56f_w.ttf');
		font-style: italic;
}

@font-face {font-family: 'PT Serif';
	src: url('../fonts/ptf75f_w.ttf');
	font-style: normal;
	font-weight: bold; 
	}

@font-face {font-family: 'PT Serif';
	src: url('../fonts/ptf76f_w.ttf');
	font-style: italic;
	font-weight: bold; 
	}

@font-face {font-family: 'PT Sans'; 
	src: url('../fonts/pts55f_w.ttf'); 
	}

@font-face {font-family: 'PT Sans'; 
	src: url('../fonts/pts56f_w.ttf'); 
	font-style: italic;
	}

@font-face {font-family: 'PT Sans';
	src: url('../fonts/pts75f_w.ttf');
	font-style: normal;
	font-weight: bold; 
	}

@font-face {font-family: 'PT Sans';
	src: url('../fonts/pts76f_w.ttf'); 
	font-style: italic;
	font-weight: bold; 
	}

@font-face {
	font-family: 'Izhitsa';
	src : url('../fonts/Izhitsa.ttf');
	font-style:normal;
	font-weight:normal;
}
@font-face {
	font-family: 'Symbol';
	src : url('../fonts/Symbol.ttf');
	font-style:normal;
	font-weight:normal;
}
