
@font-face {font-family: 'PT Serif'; 
	src: local('PT Serif'), url('../fonts/PTC55F_W.ttf') format('truetype');}

@font-face {font-family: 'PT Serif'; 
	font-style: italic;
	src: local('PT Serif Italic'), url('../fonts/PTF56F_W.ttf') format('truetype');}

@font-face {font-family: 'PT Serif';
	font-style: normal;
	font-weight: bold; 
	src: local('PT Serif Bold'), url('../fonts/PTF75F_W.ttf') format('truetype');}

@font-face {font-family: 'PT Serif';
	font-style: italic;
	font-weight: bold; 
	src: local('PT Serif Bold Italic'), url('../fonts/PTF76F_W.ttf') format('truetype');}

@font-face {font-family: 'PT Serif Caption'; 
	src: local('PT Serif Caption'), url('../fonts/PTZ55F_W.ttf') format('truetype');}

@font-face {font-family: 'PT Serif Caption';
	font-style: italic; 
	src: local('PT Serif Caption Italic'), url('../fonts/PTZ56F_W.ttf') format('truetype');}

@font-face {font-family: 'PT Sans'; 
	src: local('PT Sans'), url('../fonts/PTS55F_W.ttf') format('truetype');}

@font-face {font-family: 'PT Sans'; 
	font-style: italic;
	src: local('PT Sans Italic'), url('../fonts/PTS56F_W.ttf') format('truetype');}

@font-face {font-family: 'PT Sans';
	font-style: normal;
	font-weight: bold; 
	src: local('PT Sans Bold'), url('../fonts/PTS75F_W.ttf') format('truetype');}

@font-face {font-family: 'PT Sans';
	font-style: italic;
	font-weight: bold; 
	src: local('PT Sans Bold Italic'), url('../fonts/PTS76F_W.ttf') format('truetype');}

@font-face {font-family: 'PT Sans Caption'; 
	src: local('PT Sans Caption'), url('../fonts/PTC55F_W.ttf') format('truetype');}

@font-face {font-family: 'PT Sans Caption';
	font-weight: bold; 
	src: local('PT Sans Caption Bold'), url('../fonts/PTC75F_W.ttf') format('truetype');}

@font-face {font-family: 'PT Sans Narrow';
	src: local('PT Sans Narrow'), url('../fonts/PTN57F_W.ttf') format('truetype');}

@font-face {font-family: 'PT Sans Narrow';
	font-weight: bold; 
	src: local('PT Sans Narrow Bold'), url('../fonts/PTN77F_W.ttf') format('truetype');}