<?xml version="1.0" encoding="UTF-8" standalone="no" ?><!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" lang="ru-RU" xml:lang="ru-RU" xmlns:xml="http://www.w3.org/XML/1998/namespace"><head><!-- общие стили книги --><!--<link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"/><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"/><link rel="stylesheet" href="./../../../core/style/_book.css"/><link rel="stylesheet" href="./../../../core/style/_book_color.css"/><link rel="stylesheet" href="./../../../core/style/_custom-book.css"/><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"/><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script>!--></head><body><!--
	AW__ATTRIBUTE{{id}}{{166}}
	AW__ATTRIBUTE{{title}}{{Задание 2}}
-->

<!--
	AW__ATTRIBUTE{{mode}}{{fullscreen}}
-->



<object id="flashid" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="100%">
	<param name="movie" value="com/shells/i_wordspusher/wordsPusher.swf" />
	<param name="wmode" value="transparent" />
	<param name="allowScriptAccess" value="always" />
	<param name="FlashVars" value="id_disk=book_art05&path_to_data=data%2F00166%2F&path_to_src=data%2F00166%2F&src_xml=index.xml" />
	<!--[if !IE]>-->
	<object id="flashid" type="application/x-shockwave-flash" data="com/shells/i_wordspusher/wordsPusher.swf" width="100%" height="100%">
	 <param name="wmode" value="transparent" />
	 <param name="allowScriptAccess" value="always" />
	 <param name="FlashVars" value="id_disk=book_art05&path_to_data=data%2F00166%2F&path_to_src=data%2F00166%2F&src_xml=index.xml" />
	<!--<![endif]-->
	<div>
		<h1>Alternative content</h1>
		<p><a ><img  alt="Get Adobe Flash player" /></a></p>
	</div>
	<!--[if !IE]>-->
	</object>
	<!--<![endif]-->
</object>

</body></html>