/*
	Sets the style of the image slider wrapper <div> to be centered horizontally and vertically.
	It also sets its default dimensions and the overflowing hidden (to fix the IE image positioning bug).
*/
#threesixty 
{
   	/*background-color: #888888;*/
	position:absolute;
	/* This one fixes the IE positioning bug */
	overflow:hidden;
	top:50%;
	left:50%;
		width:1024px;
		height:768px;
		margin-left:-512px;
		margin-top:-384px;
}

/*	Defines the criteria for the max. 1024px wide tablets portrait mode and sets the image slider dimensions and centering according to it.
*/
@media	screen and (max-device-width: 1024px) and (orientation:portrait) {
	#threesixty {
		width:325px;
		height:300px;
		margin-left:-162px;
		margin-top:-150px;
	}

	#Rotators
	{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top:-130px;
	}
}
@media	screen and (max-device-height: 480px) and (orientation:landscape) {
	#threesixty {
		width:325px;
		height:300px;
		margin-left:-162px;
		margin-top:-150px;
	}

	#Rotators
	{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top:-130px;
	}
}

/*
	Defines the criteria of the max. 480px wide mobiles' landscape mode and sets the image slider dimensions and centering according to it.
*/
@media	screen and (max-device-width: 480px) and (orientation:landscape),
				screen and (-webkit-min-device-pixel-ratio: 2) and (orientation:landscape) {
	#threesixty {
		width:325px;
		height:300px;
		margin-left:-162px;
		margin-top:-150px;
	}
	#Rotators
	{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top:-130px;
	}
}
/*
	Defines the criteria of the max. 480px wide mobiles' portrait mode and sets the image slider dimensions and centering according to it.
*/
@media	screen and (max-device-width: 480px) and (orientation:portrait),
				screen and (-webkit-min-device-pixel-ratio: 2) and (orientation:portrait) {
	#threesixty {
		width:325px;
		height:300px;
		margin-left:-162px;
		margin-top:-150px;
	}
	#Rotators
	{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top:-130px;
	}
}
/*
	Makes the image slider invisible by default
*/
#threesixty_images {
	display: none;
}
/*
	Sets every image in the slider to be absolute positioned and dynamically sized.
*/
#threesixty img {
	position:absolute;
	/* This one fixes the IE positioning bug */
	top:0;
	width:100%;
	height:100%;
}
/*
	Sets the style of the visible current frame of the image slider animation
*/
.current-image {
	visibility:visible;
	width:100%;
	height:100%;
}

.focusedPart{
	/*opacity: 0.5;*/
}

.notFocusedPart{
	/*opacity: 0.5;*/
}
/*
	Sets the style of the visible "previous" frame of the image slider animation
*/
.previous-image {
	visibility:hidden;
	width:0;
}

/*
	Sets the dimensions of the CanvasLoader placeholder <div>, it also centeres it horizontally and vertically inside the wrapper and makes it invisible by default
*/
#spinner {
	position:absolute;
	left:50%;
	top:50%;
	width:90px;
	height:90px;
	margin-left:-45px;
	margin-top:-50px;
	display:none;
}
/*
	Sets the style of the percentage <span> of the preloader by setting its dimensions and centering it horizontally and vertically 
*/
#spinner span {
	position:absolute;
	top:50%;
	width:100%;
	color:#32aa32;
	font:0.8em Arial, Verdana, sans;
	text-align:center;
	line-height:0.6em;
	margin-top:-0.3em;
}

#start_slider 
{
    padding: 0px; 
    position:absolute; 
    top:50%; left:50%; 
    margin-left:-450px; 
    margin-top:-240px;
}

/*html { padding: 0; margin: 0; }
body {
	font-family: Palatino, Georgia, "Times New Roman", serif;
	padding: 0;
	margin: 0;
	font-size: 1em;
}*/
/*
.interact {
	border-top: 1px solid #ccc;
	margin-top: 3em;
	margin-bottom: 4em;
	padding-top: 1.5em;
	text-align: center;
}

.interact a {
	background-color: #2179b6;
	border-bottom: 1px solid #084d7d;
	color: #eee;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Arial, sans-serif;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	text-decoration: none;
	padding: 8px 14px;
	margin: 0 1em;
}

	.interact p {
		font-style: italic;
		color: #666;
	}*/
/*
.return {
	font-size: 1.5em;
	text-align: center;
}
	.return a {
		color: #2179b6;
		text-decoration: none;
	}
	.return a:hover {
		text-decoration: underline;
	}*/