<?xml version="1.0" encoding="UTF-8" standalone="no" ?><!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" lang="ru-RU" xml:lang="ru-RU" xmlns:xml="http://www.w3.org/XML/1998/namespace"><head><!-- общие стили книги <link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script>--></head><body><!--
	AW__ATTRIBUTE{{id}}{{90}}
	AW__ATTRIBUTE{{title}}{{Наблюдение за кораблями}}
-->

<!--
	AW__ATTRIBUTE{{mode}}{{fullscreen}}
-->

</body></html>