* {
    margin: 0;
    padding: 0;
}

body, html {
    overflow:hidden;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

canvas{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    outline: none;
    /*-webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
    -webkit-tap-highlight-color: transparent;
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    margin:0;
    padding:0;
}

body {
    overflow:hidden;
}